body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
#root{
  width: 960px;
  margin: 0 auto;
  background-color: white;
}
.form-twit{
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #000;
  min-height: 20px;
  padding: 5px 10px 10px 10px;
  margin-bottom: 15px;
  margin-top: 20px;
  border: 2px solid #1da1f2;
  border-radius: 15px;
}
.search{
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 274px;
  vertical-align: middle;
  color: #1da1f2;
  font-weight: 600;
}

.btn-search{
  width: 20px;
  height: 22px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: url("search.png") no-repeat 50% 50%;
}
::-webkit-input-placeholder {color:#1da1f2;font-weight: bold;}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: white;
}
.header-twit{
  display: flex;
  flex-direction: row;
}
.twit{
  width: 550px;
  margin: 0 auto;
  background-color: #1da1f2;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}
.user-img {
  width: 100px;
}
.user-img img {
  border: 2px solid #FFF;
  border-radius: 50%;
  width: 50px;
}
.user-inf{
    margin-left: -35px;
}